#####################################################################################################################
# CONFIGURÕES DO SERVIDOR
#####################################################################################################################
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
#####################################################################################################################
# CONFIGURÕES DO MYSQL
#####################################################################################################################
set mysql_connection_string "server=localhost;uid=root;password=;database=rshopv7;port=3306;charset=utf8mb4"
set mysql_transaction_isolation_level 2
set mysql_slow_query_warning 100
#####################################################################################################################
# SCRIPTS
#####################################################################################################################
ensure vrp
ensure [nation]
ensure [system]
ensure [scripts]
ensure [weapons]
ensure [smartphone]
ensure [addons]
ensure [BjornFuel]
ensure [tv]
ensure [jobs]
ensure [Painel_Adminv2]
ensure [CNH]
ensure [k9]

#####################################################################################################################
# SERVIDOR
#####################################################################################################################
sv_replaceExeToSwitchBuilds true
sv_exposePlayerIdentifiersInHttpEndpoint ConVar
#sv_master1 ""
sv_scriptHookAllowed 0
# sets sv_lan 1
# rcon_password
sets sv_pureLevel 0
set ox:ignoreSecurityAdvisory ["stateBagStrictMode"]
#####################################################################################################################
# INFORMAÇÕES
#####################################################################################################################
sv_hostname "NOME DA CIDADE"
sets sv_projectName "NOME DA CIDADE"
sets sv_projectDesc "DESCRIÇÃO DA CIDADE"
sets Grupo "RSHOP"
sets Desenvolvedor "RSHOP"
sets Discord "https://discord.com/invite/ENyGnZUg"
sets tags "rp, roleplay, native, network, pvp, br, brasil, brazil, otimizado, fps, foguete, lotus, complexo, santa, paris, tokyo, fusion, space, disney, infinity, fluxo, havana, kush, dubai, brazuka, nexus, capital, one, street, north, meta"
sets locale "pt-BR"
load_server_icon server.png
sets banner_detail ""
sets banner_connecting ""

#####################################################################################################################
# PERMISSÕES E INDENTIFICAÇÃO
#####################################################################################################################
add_ace group.Admin command allow
add_ace group.Admin command.quit deny
add_principal identifier.steam:SuaSteamHexAqui group.Admin
#####################################################################################################################
# SINCRONIZAÇÕES
#####################################################################################################################
set onesync on
set sv_endpointprivacy true
set onesync_population true
set sv_enforceGameBuild 3095
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true


#####################################################################################################################
# VOZ
#####################################################################################################################
setr voice_syncData 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
#####################################################################################################################
# CAPACIDADE DA KEY
#####################################################################################################################
### Players ###
sv_maxclients 7
### Steam ###
set steam_webApiKey "8CE4D2AFEED994875538343E8762D4AE"# Adquira em: https://steamcommunity.com/dev/apikey
sv_licenseKey "cfxk_hOszzvjMKUgFfVT1OfHt_2NAsQv" # Adquira em: https://keymaster.fivem.net/

